<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cimscomanage.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <MSDeployServiceURL>cimscomanage.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CimscoManage</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$CimscoManage</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="InvoiceDataUpload.DataSource.CimscoIDE_dbEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="InvoiceDataUpload.DataSource.CimscoIDE_dbEntities, InvoiceDataUpload" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="InvoiceDataUpload.DataTarget.CimscoPortalEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="InvoiceDataUpload.DataTarget.CimscoPortalEntities, InvoiceDataUpload" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="InvoiceDataUpload.DataMaster.CimscoNZEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="InvoiceDataUpload.DataMaster.CimscoNZEntities, InvoiceDataUpload" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InvoiceDataUpload.DataMaster.CimscoNZEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InvoiceDataUpload.DataSource.CimscoIDE_dbEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InvoiceDataUpload.DataTarget.CimscoPortalEntities-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="InvoiceDataUpload.DataMaster.CimscoNZEntities" />
    <_ConnectionStringsToInsert Include="InvoiceDataUpload.DataSource.CimscoIDE_dbEntities" />
    <_ConnectionStringsToInsert Include="InvoiceDataUpload.DataTarget.CimscoPortalEntities" />
  </ItemGroup>
</Project>